<section id="aboutUs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About us</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Our Rich Heritage</h3>
                    <p class="text-muted">Our journey began in 2002 when we established our roots in the automotive, electronics, and tools industries. Through dedication and unwavering commitment, we gained insights into the ever-changing needs of our customers. Over time, our passion for excellence guided us to diversify our offerings to include products in diverse categories.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-rocket wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Our Lean Business Model</h3>
                    <p class="text-muted">
                        With the rise of e-commerce, we transitioned from brick-and-mortar stores to a robust online platform, supported by our central warehouse in New Hampshire. This move allows us to efficiently handle over $10 million worth of diverse products, continuing our legacy of excellence in the digital landscape.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 text-left">
                <div class="service-box">
                    <i class="fa fa-4x fa-group wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Our Dedicated Team
                    </h3>
                    <p class="text-muted">Behind the scenes, our team is the heart and soul of our success. Comprising experienced professionals who are experts in their fields, we share a collective passion for delivering top-quality products and exceptional customer service. We are fueled by the desire to provide our customers with products that enrich their lives, spark their curiosity, and bring joy to their everyday experiences.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
Welcome to DistriZona, your ultimate partner in driving exceptional sales growth and success across various e-commerce platforms. As an innovative e-commerce powerhouse, we take pride in offering data-driven solutions and expert services that empower brands, distributors, and wholesalers to thrive in the ever-evolving digital landscape.
At DistriZona, our vision is clear: to revolutionize the way businesses conquer the world of e-commerce. We envision a future where data insights, cutting-edge technology, and strategic partnerships converge to unlock the full potential of every brand we work with. By fostering win-win collaborations, we aim to reshape the e-commerce landscape, making it accessible and rewarding for all.
Our mission is to be the catalyst that ignites exponential sales growth for our clients. Through our tailored strategies, risk-free partnership models, and unrivaled expertise, we strive to elevate brands, distributors, and wholesalers to new heights in the digital realm. We are driven by a relentless pursuit of excellence, pushing boundaries, and crafting innovative solutions that yield tangible results.
-->
