<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>E-commerce Retail & Distribution</h1>
            <hr>
            <p>At DistriZona, we are more than just an online retailer and distributor– we are a legacy of excellence in the retail industry spanning over four decades. As a family-owned business, we have evolved from our humble beginnings in the automotive, electronics, and tools sectors into a dynamic marketplace offering a diverse range of quality products at wholesale price.
            </p>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
