<!-- Shipping policy
Shipping Policy

Thank you for choosing to shop with us! Our goal is to provide you with a seamless shopping experience and ensure that your orders reach you in a timely manner, regardless of your location. Please take a moment to familiarize yourself with our shipping policy for different countries.

1. Shipping Destinations:
We proudly offer worldwide shipping, extending our services to a variety of countries including, but not limited to:
- Australia
- Panama
- Mexico
- Canada
- Europe
- United Kingdom (UK)

2. Shipping Timeframes:
We understand the importance of prompt delivery. It's important to note that the shipping times detailed below are average estimates, allowing for potential delays due to customs processing, adverse weather conditions, and local delivery procedures.

- USA (Domestic): 6-14 business days
- Australia: 14-28 business days
- Panama: 14-28 business days
- Mexico: 14-28 business days
- Canada: 14-28 business days
- Europe: 14-28 business days
- United Kingdom (UK): 14-28 business days

3. Order Processing:
We require an average of 2-4 business days to process orders. Following processing, you will receive a confirmation email containing tracking information, enabling you to monitor the progress of your shipment.

4. Shipping Rates:
Shipping rates are determined based on your location and the weight of the items in your cart. The calculated shipping cost will be displayed during the checkout process before finalizing your order.

Please don't hesitate to reach out to our customer support team at [support@distrizona.com](mailto:support@distrizona.com) if you have any questions or concerns regarding your order, shipping, or any other inquiries. Your satisfaction is our priority, and we're here to assist you every step of the way.

Thank you for entrusting us with your shopping needs. Your business is greatly appreciated! -->
