<!-- Terms of service
Terms of Service

Last Updated: August 28th, 2023

Welcome to Distrizona.com. By accessing or using our website, you agree to comply with and be bound by the following Terms of Service. If you do not agree to these terms, please refrain from using our website.

Use of Our Website


1. You must be at least 18 years old to use our website. By using our website, you represent and warrant that you are 18 years of age or older.

2. You agree not to use our website for any unlawful or unauthorized purpose and not to violate any applicable laws and regulations.

3. You are solely responsible for any content you post, submit, or share on our website. By submitting content, you grant us a non-exclusive, royalty-free, perpetual, and worldwide license to use, modify, display, and distribute your content.

4. You agree not to interfere with or disrupt the operation of our website, including introducing malware, viruses, or other harmful code.

Intellectual Property

1. The content on our website, including but not limited to text, graphics, logos, images, videos, and software, is the property of Distrizona.com and is protected by copyright, trademark, and other intellectual property laws.

2. You may not reproduce, distribute, modify, create derivative works, publicly display, or perform any content from our website without our prior written consent.

Privacy

Your privacy is important to us. Please refer to our Privacy Policy to understand how we collect, use, and protect your personal information.

Links to Third-Party Websites

Our website may contain links to third-party websites that are not owned or controlled by us. We do not endorse or assume any responsibility for the content or practices of these third-party websites. We encourage you to review the terms and privacy policies of any third-party websites you visit.

Disclaimers and Limitations of Liability

1. Our website is provided on an "as is" and "as available" basis. We make no warranties or representations about the accuracy, completeness, reliability, or availability of the content.

2. We shall not be liable for any direct, indirect, incidental, consequential, special, or exemplary damages, including but not limited to damages for loss of profits, goodwill, use, data, or other intangible losses.

Indemnification

You agree to indemnify and hold harmless Distrizona.com and its affiliates, officers, directors, employees, and agents from any claims, liabilities, damages, costs, and expenses (including attorney's fees) arising out of your use of our website or violation of these Terms of Service.

Changes to Terms of Service

We reserve the right to modify or replace these Terms of Service at any time. The "Last Updated" date will indicate the most recent changes. It is your responsibility to review these terms periodically for updates. Your continued use of our website after any changes to the terms constitutes acceptance of those changes.

Governing Law and Jurisdiction

These Terms of Service are governed by and construed in accordance with the laws of MA, USA, without regard to its conflict of law principles. Any dispute arising from or relating to these terms shall be subject to the exclusive jurisdiction of the state and federal courts located in Boston, MA.

Contact Us

If you have any questions, concerns, or inquiries about these Terms of Service, please contact us at [support@distrizona.com].

Thank you for using Distrizona.com. Your compliance with these terms allows us to provide a safe and enjoyable experience for all users. -->
